 


body,html{
    margin: 0;
    height: 100%;
     text-align: center;
     padding: 0;
}

h1{
  margin-top: 100px;
  font-size: 50pt;
  color: white;
}

button{
  width: 40px;
  height: 40px;
  font-size: 16pt;
  
}

.container{
border: 0px solid black;
    width: 100%;
      height: 100vh; /* Note a medida */
    display: flex;
 
}

.oponente1,.oponente2{
    border: 0px solid black;
    width: 50%; 
     height: 100%;

   
}

.oponente1{
  background-color: rgb(66, 66, 238);
}

.oponente2{
  background-color: rgb(222, 63, 63);
}

.nome{
  border: 0px solid rgb(227, 15, 15);
  width: 100%;
  height:50px;
padding-top: 50px;
}

h3{
  color: white;
  font-size: 40pt;
}

input{
  background-color: transparent;
  border:0px solid black;
 color: white;
width: 90%;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;

  outline: none;
}

::placeholder{
  color: white;
}



/*stilo temporizador*/
.temporizador{
  border: 0px solid black;
  background-color: white;
height: 55px;
  position: absolute;
 right: 27%;
 width: 45%;
 border-radius: 0 0 15px 15px;
}


.timer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.timer-box {
  background-color: #f5f5f5;
 border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer-box h1 {
  font-size: 10px;
  margin: 0;
}

.timer-box p {
  font-size: 10px;
  margin: 0;
  color: #888;
}
.colon {
  font-size: 2rem;

}

.button-container button {
  font-size: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
  margin-left: 3px;
 height: 12px;
}

.button-container button:hover {
  background-color: #45a049;
}


/*responsividade*/

@media (max-width:384px) {
 .container{
    border: 0px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: block;
}

.oponente1,.oponente2{
    border: 1px solid black;
    width: 100%; 
     height: 50%;
}



}